.wrapper {
  margin: 0 auto;
  font-family: "Trebuchet MS", "Helvetica", sans-serif
}

textarea {
  display: block;
  width: 700px;
  height: 200px;
  margin: 10px auto 10px;
  padding: 10px;
  font-size: 18px;
  color: #444444
}

.keyboard {
  width: 704px;
  margin: 0 auto;
  padding: 5px;
  padding-left: 0;
  padding-bottom: 0;
  background: #888888;
  border: 3px solid #222222;
  border-radius: 5px
}

.row {
  clear: both;
  width: 100%;
  height: 40px;
  margin-bottom: 8px
}

.key {
  float: left;
  width: 40px;
  height: 40px;
  margin-left: 6px;
  font-weight: 500;
  line-height: 40px;
  text-align: center;
  color: #ffffff;
  background: #444444;
  border-radius: 3px;
  cursor: pointer;
  user-select: none;
  transition: border-radius 0.3s, background-color 0.3s
}

.key:hover {
  background: #79aa89
}

.active {
  background-color: #2cfd72;
  border-radius: 50px
}

#Tab {
  width: 50px;
}

#Backspace,
#CapsLock,
#ShiftLeft {
  width: 100px;
}

#Delete {
  width: 44px;
}

#Enter,
#ShiftRight {
  width: 86px;
}

#Space {
  width: 330px;
}
